<div class="content">
    <div class="container">
        <ul class="list-content">
            <li>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="post-container">
                        <div class="img-container">
                            <a href="#" class="post-img-link">
                                <img src="images/a1.jpg" alt="">
                            </a>
                        </div>
                        <div class="content-container">
                            <div class="title-container">
                                <a href="" class="post-title-link">
                                    <span>Food title</span>
                                </a>
                            </div>
                            <div class="owner-container">
                                <div class="ava-container">
                                    <a>
                                        <span class="owner-ava">
                                            <img src="images/a2.jpg" alt="">
                                        </span>
                                    </a>
                                </div>
                                <div class="name-container">
                                    <a class="owner-name">
                                        <span>John Conner</span>
                                    </a>
                                </div>
                            </div>
                            <div class="action-container">
                                <span class="post-act">
                                    <img src="images/like-empty.png" alt="">
                                </span>
                                <span class="post-act">
                                    <img src="images/comment.png" alt="">
                                </span>
                                <span class="post-act">
                                    <img src="images/share.png" alt="">
                                </span>

                            </div>
                        </div>
                    </div>

                </div>
            </li>
            <li>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="post-container">
                        <div class="img-container">
                            <a href="#" class="post-img-link">
                                <img src="images/a1.jpg" alt="">
                            </a>
                        </div>
                        <div class="content-container">
                            <div class="title-container">
                                <a href="" class="post-title-link">
                                    <span>Ingredient title</span>
                                </a>
                            </div>
                            <div class="owner-container">
                                <div class="ava-container">
                                    <a>
                                        <span class="owner-ava">
                                            <img src="images/a2.jpg" alt="">
                                        </span>
                                    </a>
                                </div>
                                <div class="name-container">
                                    <a class="owner-name">
                                        <span>John Conner</span>
                                    </a>
                                </div>
                            </div>
                            <div class="action-container price-container">
                                <span class="price">150000 VND</span>
                                <span class="weight">/kg</span>


                            </div>
                        </div>
                    </div>

                </div>
            </li>
            <li>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="post-container">
                        <div class="img-container">
                            <a href="#" class="post-img-link">
                                <img src="images/a1.jpg" alt="">
                            </a>
                        </div>
                        <div class="content-container">
                            <div class="title-container">
                                <a href="" class="post-title-link">
                                    <span>Food title</span>
                                </a>
                            </div>
                            <div class="owner-container">
                                <div class="ava-container">
                                    <a>
                                        <span class="owner-ava">
                                            <img src="images/a2.jpg" alt="">
                                        </span>
                                    </a>
                                </div>
                                <div class="name-container">
                                    <a class="owner-name">
                                        <span>John Conner</span>
                                    </a>
                                </div>
                            </div>
                            <div class="action-container">
                                <span class="post-act">
                                    <img src="images/like-empty.png" alt="">
                                </span>
                                <span class="post-act">
                                    <img src="images/comment.png" alt="">
                                </span>
                                <span class="post-act">
                                    <img src="images/share.png" alt="">
                                </span>

                            </div>
                        </div>
                    </div>

                </div>
            </li>
            <li>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="post-container">
                        <div class="img-container">
                            <a href="#" class="post-img-link">
                                <img src="images/a1.jpg" alt="">
                            </a>
                        </div>
                        <div class="content-container">
                            <div class="title-container">
                                <a href="" class="post-title-link">
                                    <span>Food title</span>
                                </a>
                            </div>
                            <div class="owner-container">
                                <div class="ava-container">
                                    <a>
                                        <span class="owner-ava">
                                            <img src="images/a2.jpg" alt="">
                                        </span>
                                    </a>
                                </div>
                                <div class="name-container">
                                    <a class="owner-name">
                                        <span>John Conner</span>
                                    </a>
                                </div>
                            </div>
                            <div class="action-container">
                                <span class="post-act">
                                    <img src="images/like-empty.png" alt="">
                                </span>
                                <span class="post-act">
                                    <img src="images/comment.png" alt="">
                                </span>
                                <span class="post-act">
                                    <img src="images/share.png" alt="">
                                </span>

                            </div>
                        </div>
                    </div>

                </div>
            </li>

        </ul>



    </div>
</div>