<div class="header-top">
  <div class="header-bottom">
    <div class="container">
      <div class="logo">
        <a href="index.html">
          <h1>GONN</h1>
        </a>
      </div>
      <!---->
      <!-- menu -->
      <div class="top-nav">
        <ul class="memenu skyblue">
          <li class="active">
            <a href="/">Món ăn</a>
          </li>
          <li class="grid">
            <a href="/ingredients">Nguyên liệu</a>
          </li>
        </ul>
        <div class="clearfix"> </div>
      </div>
      <!-- menu end -->
      <!-- search box -->
      <div class="top-mid">
        <form class="search">
          <input type="text" name="search" placeholder="Search">
        </form>
      </div>
      <!-- search box end -->
      <!---->
      <!-- button signin and signup -->
      <div class="top-left">

        <a href="/signin"  class="grid">Đăng nhập</a>
        <a href="/signup"  class="signin-btn">Đăng ký</a>

        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
      <!---->
    </div>
    <!-- button signin and signup end -->


  </div>
</div>
