<div class="admin-container">
    <div class="container">
      <div class="admin-wrapper">
        <div class="left-section col-md-3 col-lg-3">
          <div class="admin-header-wrapper">
            <div class="admin-ava-container">
              <a href="#" class="admin-ava">
                <img src="assets/images/a1.jpg" alt="Braden Hamm">
              </a>
            </div>
            <div class="admin-info-container">
              <a href="#">
                <span>Admin</span>
              </a>
            </div>
          </div>
          <div class="sidebar">
            <div id="main-menu" class="list-group">
              <a href="#sub-menu" class="list-group-item" data-toggle="collapse" data-parent="#main-menu">Món ăn
                <span class="caret"></span>
              </a>
              <div class="collapse list-group-level1" id="sub-menu">
                <a routerLink="/admin/add-post" class="list-group-item" data-parent="#sub-menu">Thêm món ăn</a>
                <a routerLink="/admin/view-post" class="list-group-item" data-parent="#sub-menu">Xem món ăn</a>
              </div>
              <a href="#sub-menu2" class="list-group-item" data-toggle="collapse" data-parent="#main-menu">Nguyên liệu
                <span class="caret"></span>
              </a>
              <div class="collapse list-group-level1" id="sub-menu2">
                <a routerLink="/admin/add-ingredient" class="list-group-item" data-parent="#sub-menu">Thêm nguyên liệu</a>
                <a routerLink="/admin/view-ingredient" class="list-group-item" data-parent="#sub-menu">Xem nguyên liệu</a>
              </div>
              <a href="#" class="list-group-item">Đổi mật khẩu</a>

            </div>

          </div>
        </div>
        <div class="right-section col-md-9 col-lg-9">
            <div class="container">
                <ul class="list-content" *ngFor="let item of items">
                  <li>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                      <div class="post-container">
                        <div class="img-container">
                          <a href="/food/{{item._id}}" class="post-img-link">
                            <img src="{{item.backdrop}}" alt="">
                          </a>
                        </div>
                        <div class="content-container">
                          <div class="title-container">
                            <a href="/food/{{item._id}}" class="post-title-link">
                              <span>{{item.title}}</span>
                            </a>
                          </div>

                          <div class="action-container">
                              <a routerLink="/admin/post/edit/{{item._id}}" class="post-title-link">
                                <span class="post-act-admin"><img src="assets/images/edit.png" alt=""></span>
                              </a>

                              <a routerLink="/food/{{item._id}}" class="post-title-link">
                                <span class="post-act-admin"><img src="assets/images/cross.png" alt=""></span>
                              </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div infiniteScroll
              [infiniteScrollDistance]="2"
              [infiniteScrollThrottle]="1000"
              (scrolled)="onScrollDown()">
              </div>
        </div>
      </div>
    </div>
  </div>
